/* @tailwind base;
@tailwind components;
@tailwind utilities; */
*{
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
    padding: 16px;
    /* --tw-bg-opacity:1; */
    background-color: rgb(176, 108, 245);
    height:100vh;
    display: flex;
    justify-content: center;
    /* --tw-text-opacity:1; */
    color:rgb(255 255 255);
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
 .box{
    width: 100%;
    border-radius: 0.5rem;
    text-align: center;
    /* padding-top: 1.25rem; */
    margin: auto;
    box-sizing: border-box;
    background-color: rgb(17 24 39);
    position: relative;
    width: 66%;
    min-width: fit-content;
    overflow-wrap: break-word;
}
/* @media (min-width: 640px){
    .container{
        max-width: 640px;
    }

@media (min-width: 768px){
    .container{
        max-width: 768px;
    }
} */
.weathercon{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position:relative;
    font-size: 4.5rem;
    line-height:1;
}
.weathercon .fas{
    position:relative;
}
.information{
    padding: 1.5rem;
    position: relative;
}
.tempimform{
    justify-content: space-between;
    align-items:center;
    display: flex;
    flex-direction: column;
}
.tempimform .location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.tempimform .location .font-noraml{
    font-weight: 400;
}
#date{
    margin-bottom: 40px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 200;
    text-transform: uppercase;
}
.tempimform .currtemp{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin-bottom: 4px;
}
.tempimform .tempmin_max{
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;
}    
@media(min-width: 640px){
    .sm\:min-h-max{
        min-height: max-content;
    }
    .sm\:w-72{
        width: 18rem;
    }
}
